E2_ENDPOINT=https://s3.ap-northeast-1.idrivee2.com
E2_ACCESS_KEY=tz1OR4nO1fcgbA3HjPap
E2_SECRET_KEY=WxOkNtykktd0UioY0SC82bHxm5z87L7z0A8sO8nG
E2_BUCKET_NAME=kywc-3d-gallery

# Absolute path to Firebase service account JSON.
# Example (Windows): C:\Users\Admin\Desktop\KYWC____\serviceAccountKey.json
FIREBASE_SERVICE_ACCOUNT_KEY=C:\Users\Admin\Desktop\KYWC____\kywc-3d-announcements-firebase-adminsdk-fbsvc-7f5a806871.json

# Optional settings
API_PORT=8001
CORS_ORIGINS=*
ADMIN_EMAILS=admin@kywc.edu.hk,test1@gmail.com,admin@gmail.com
